In [15]:
import pandas as pd
employee_details = pd.read_excel('employees.xlsx')
print(employee_details,'\n')
#displaying the first sheets if there are multiple sheets
employee_details = pd.read_excel('employees.xlsx' , sheet_name = 'Sheet1')
print(employee_details,'\n')

employee_details = pd.read_excel('employees.xlsx' , sheet_name = 0)
print(employee_details)

    id         name   age             specialization
0    2        shine   NaN              data engineer
1    3     kunjacks  22.0                        NaN
2    4        sisly  32.0          flutter developer
3    1        jonny  77.0          flutter developer
4    5       daveed   NaN               data science
5    6        lilly  18.0                        NaN
6    9  thomaskutty   NaN          flutter developer
7    8         mary  37.0                        NaN
8    7        eesha  21.0               data science
9   11        neena  38.0          flutter developer
10  18  georgekutty   NaN               data science
11  20     shoshama  27.0          flutter developer
12  21       nithin  20.0  python mobile development

    id         name   age             specialization
0    2        shine   NaN              data engineer
1    3     kunjacks  22.0                        NaN
2    4        sisly  32.0          flutter developer
3    1        jonny  77.0          flutter developer
4    5       daveed   NaN               data science
5    6        lilly  18.0                        NaN
6    9  thomaskutty   NaN          flutter developer
7    8         mary  37.0                        NaN
8    7        eesha  21.0               data science
9   11        neena  38.0          flutter developer
10  18  georgekutty   NaN               data science
11  20     shoshama  27.0          flutter developer
12  21       nithin  20.0  python mobile development

    id         name   age             specialization
0    2        shine   NaN              data engineer
1    3     kunjacks  22.0                        NaN
2    4        sisly  32.0          flutter developer
3    1        jonny  77.0          flutter developer
4    5       daveed   NaN               data science
5    6        lilly  18.0                        NaN
6    9  thomaskutty   NaN          flutter developer
7    8         mary  37.0                        NaN
8    7        eesha  21.0               data science
9   11        neena  38.0          flutter developer
10  18  georgekutty   NaN               data science
11  20     shoshama  27.0          flutter developer
12  21       nithin  20.0  python mobile development

skipping rows and selecting columns

In [27]:
employee_details = pd.read_excel('employees.xlsx' , skiprows = 2)
#same as csv
print(employee_details,'\n')
employee_details = pd.read_excel('employees.xlsx' , usecols = ['id'])
print(employee_details,'\n')

     3     kunjacks    22                 Unnamed: 3
0    4        sisly  32.0          flutter developer
1    1        jonny  77.0          flutter developer
2    5       daveed   NaN               data science
3    6        lilly  18.0                        NaN
4    9  thomaskutty   NaN          flutter developer
5    8         mary  37.0                        NaN
6    7        eesha  21.0               data science
7   11        neena  38.0          flutter developer
8   18  georgekutty   NaN               data science
9   20     shoshama  27.0          flutter developer
10  21       nithin  20.0  python mobile development

    id
0    2
1    3
2    4
3    1
4    5
5    6
6    9
7    8
8    7
9   11
10  18
11  20
12  21

In [104]:
employee_details = pd.read_excel('employees.xlsx' , usecols = [2])
print(employee_details,'\n')
employee_details = pd.read_excel('employees.xlsx' , usecols = 'A:C')
#READS COLUMNS A TO C ie first column to 3rd col
print(employee_details,'\n')

     age
0    NaN
1   22.0
2   32.0
3   77.0
4    NaN
5   18.0
6    NaN
7   37.0
8   21.0
9   38.0
10   NaN
11  27.0
12  20.0

    id         name   age
0    2        shine   NaN
1    3     kunjacks  22.0
2    4        sisly  32.0
3    1        jonny  77.0
4    5       daveed   NaN
5    6        lilly  18.0
6    9  thomaskutty   NaN
7    8         mary  37.0
8    7        eesha  21.0
9   11        neena  38.0
10  18  georgekutty   NaN
11  20     shoshama  27.0
12  21       nithin  20.0

In [111]:
# employee_details = pd.read_excel('employees.xlsx' , parse_dates=['DateColumn'])
# for date conversion but in my data no dates
employee_details = employee_details.fillna(method = 'ffill') #this is how forward fill is implemented in excel files
print(employee_details,'\n')

    id         name   age
0    2        shine  22.0
1    3     kunjacks  22.0
2    4        sisly  32.0
3    1        jonny  77.0
4    5       daveed  18.0
5    6        lilly  18.0
6    9  thomaskutty  37.0
7    8         mary  37.0
8    7        eesha  21.0
9   11        neena  38.0
10  18  georgekutty  27.0
11  20     shoshama  27.0
12  21       nithin  20.0

C:\Users\shaha\AppData\Local\Temp\ipykernel_5512\2654300063.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  employee_details = employee_details.fillna(method = 'ffill') #this is how forward fill is implemented in excel files

In [109]:
employee_details = employee_details.fillna(method = 'bfill') #this is how forward fill is implemented in excel files
print(employee_details)

    id         name   age
0    2        shine  22.0
1    3     kunjacks  22.0
2    4        sisly  32.0
3    1        jonny  77.0
4    5       daveed  18.0
5    6        lilly  18.0
6    9  thomaskutty  37.0
7    8         mary  37.0
8    7        eesha  21.0
9   11        neena  38.0
10  18  georgekutty  27.0
11  20     shoshama  27.0
12  21       nithin  20.0

C:\Users\shaha\AppData\Local\Temp\ipykernel_5512\3878280686.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  employee_details = employee_details.fillna(method = 'bfill') #this is how forward fill is implemented in excel files